.cpf-cell-breakdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.2;
  height: 100%;

  .main-val {
    font-weight: 500;
    color: var(--text-primary);
  }

  .sub-vals {
    font-size: 10px;
    color: var(--text-secondary);
    opacity: 0.8;
  }
}